<div class="row">
  <div class="col-lg-9">
    <div class="well sidebar-nav center">
      <h2>Welcome! You are on the Trains On Rails site!</h2>
    </div>
    <%= bootstrap_flash %>
  </div>
  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h4>Latest news</h4>
      <ul class="nav nav-list">
        <li><p>Some news</p></li>
        <li><p>Some news</p></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->

<div class="row">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab">About us</a></li>
      <li><a data-toggle="tab">Shedules</a></li>
      <li><a data-toggle="tab">Stations</a></li>
      <li><a data-toggle="tab">Trains</a></li>
      <li><a data-toggle="tab">Stuff</a></li>
    </ul>

    <div class="tab-content">
      <div id="hints" class="tab-pane fade in active">

      </div>

      <div id="articles" class="tab-pane fade">

      </div>
    </div>
  </div>
</div>
