.sides{
  display: flex;

  .left {
    margin-right: auto;
  }

  .right {
    margin-left: auto;
  }
}

.greeting {
  margin: 0px;
}

.wrappper {
  margin-bottom: 70px;
}

#footer{
  border-top: 1px solid #e7e7e7;
  height: 60px;
}

.center {
  text-align: center;
}
